<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %> 
      <h1>Welcome, <%= current_user.username %></h1>
    <% end %>

    <% if flash[:error] %>
      <% (flash[:error] ).each do |err| %>
        <%= err %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
